@keyframes typing {
  from {
    width: 0;
  }
}

:root {
  --background: #f8f8f2;
  --text: #282a36;
}

@font-face {
  font-family: "Terminal";
  src: url("TerminusTTF-4.39.ttf");
}

html {
  background: var(--background);
}

body {
  padding-top: 5%;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* Creates the 'terminal' look for text */
a, p, #format {
  color: var(--text);
  margin-left: 10px;
  font-size: 20px;
  font-family: Terminal;
  line-height: 25px;
}

/*
 Debugging
*/
/*#canvas,
  #main {
  border:2px solid #CC0000;
}*/


/*
For old animation
*/
/*#canvas {
  width: 600px;
  height: 400px;
}
*/

#canvas {
  width: 600px;
  height: 600px;
  margin-top: 60px;
}

#canvas-con {
  float: left;
}

#main {
  float: left;
  margin-top: 60px;
  width: 150px;
  height: 400px;
}

.center {
  width: 50%;
  margin: 0 auto;
}

/* Credit:  https://twitter.com/lukemeyrick?lang=en */
.glitch,
.glitch * {
  -webkit-animation: glitch 6s infinite steps(50);
          animation: glitch 6s infinite steps(50);
}
@-webkit-keyframes glitch {
  2% {
    font-weight: 600;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  4% {
    font-weight: 600;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  6% {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  8% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  10% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
  }
  12% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
  }
  14% {
    font-weight: 100;
    font-style: normal;
    text-decoration: underline;
    text-transform: capitalize;
  }
  16% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  18% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
  20% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  22% {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  24% {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  26% {
    font-weight: 400;
    font-style: normal;
    text-decoration: line-through;
    text-transform: none;
  }
  28% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  30% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  32% {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  34% {
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  36% {
    font-weight: 100;
    font-style: normal;
    text-decoration: line-through;
    text-transform: lowercase;
  }
  38% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  40% {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  42% {
    font-weight: 500;
    font-style: normal;
    text-decoration: line-through;
    text-transform: lowercase;
  }
  44% {
    font-weight: 500;
    font-style: normal;
    text-decoration: underline;
    text-transform: uppercase;
  }
  46% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: capitalize;
  }
  48% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  50% {
    font-weight: 700;
    font-style: normal;
    text-decoration: line-through;
    text-transform: none;
  }
  52% {
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
  54% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  56% {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
  58% {
    font-weight: 200;
    font-style: normal;
    text-decoration: underline;
    text-transform: lowercase;
  }
  60% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  62% {
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  64% {
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  66% {
    font-weight: 300;
    font-style: italic;
    text-decoration: underline;
    text-transform: none;
  }
  68% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  70% {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  72% {
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  74% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  76% {
    font-weight: 400;
    font-style: italic;
    text-decoration: none;
    text-transform: lowercase;
  }
  78% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  80% {
    font-weight: 300;
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
  }
  82% {
    font-weight: 300;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  84% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  86% {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  88% {
    font-weight: 300;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  90% {
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
  }
  92% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  94% {
    font-weight: 200;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  96% {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  98% {
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
}
@keyframes glitch {
  2% {
    font-weight: 600;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  4% {
    font-weight: 600;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  6% {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  8% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  10% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
  }
  12% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
  }
  14% {
    font-weight: 100;
    font-style: normal;
    text-decoration: underline;
    text-transform: capitalize;
  }
  16% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  18% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
  20% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  22% {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  24% {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  26% {
    font-weight: 400;
    font-style: normal;
    text-decoration: line-through;
    text-transform: none;
  }
  28% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  30% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  32% {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  34% {
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  36% {
    font-weight: 100;
    font-style: normal;
    text-decoration: line-through;
    text-transform: lowercase;
  }
  38% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  40% {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  42% {
    font-weight: 500;
    font-style: normal;
    text-decoration: line-through;
    text-transform: lowercase;
  }
  44% {
    font-weight: 500;
    font-style: normal;
    text-decoration: underline;
    text-transform: uppercase;
  }
  46% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: capitalize;
  }
  48% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  50% {
    font-weight: 700;
    font-style: normal;
    text-decoration: line-through;
    text-transform: none;
  }
  52% {
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
  54% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  56% {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
  58% {
    font-weight: 200;
    font-style: normal;
    text-decoration: underline;
    text-transform: lowercase;
  }
  60% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  62% {
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  64% {
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  66% {
    font-weight: 300;
    font-style: italic;
    text-decoration: underline;
    text-transform: none;
  }
  68% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  70% {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  72% {
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  74% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  76% {
    font-weight: 400;
    font-style: italic;
    text-decoration: none;
    text-transform: lowercase;
  }
  78% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  80% {
    font-weight: 300;
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
  }
  82% {
    font-weight: 300;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  84% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  86% {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  88% {
    font-weight: 300;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  90% {
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
  }
  92% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  94% {
    font-weight: 200;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  96% {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  98% {
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
}